.controls label {
    font-weight: bold;
    margin-left: 8px;
}

.controls form {
    display: inline;
}

.controls a, .controls a:visited {
    color: #0000FF;
    text-decoration: none;
}

.controls a:hover, .controls a:active {
    text-decoration: underline;
}

.controls {
    font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-bottom: 8px;
    display: none;
    clear: both;
}

.column {
    width: 33%;
    display: inline;
}

.comic {
  min-width: 360px;
  margin: 1em;
  border: 2px solid #000;
  display: block;
  overflow: hidden;
  float: left;
  font-family: 'Source Sans Pro', 'Liberation sans', Arial, sans-serif
}

section iframe {
  border: 0;
  margin: 0;
  padding: 0;
  background: white;
  display: none;
}

.title {
  display: block;
  border-bottom: 2px solid #000;
  background-color: #eee;
  padding: .25em 1em
}

.title h1,
.title h2 {
  display: inline-block;
  margin: 0;
  letter-spacing: -.05em;
  font-family: 'Source Sans Pro', 'Liberation sans', Arial, sans-serif
}

.title h2 {
  margin-left: .5em;
  color: #787878;
  font-weight: 400;
  letter-spacing: -.025em
}

.strip {
  overflow: hidden;
  padding: 0.5em;
  width: 100%;
  text-align: center;
  font-family: 'Source Sans Pro', 'Liberation sans', Arial, sans-serif
}

.frame {
  position: relative;
  display: inline-block;
  width: 20em;
  margin: 0.5em
}

.frame pre {
    background: black;
    text-align: left;
    color: #DDD;
    font: Courier;
    padding: 16px 6px;
}

.field {
  display: block;
  width: 50%;
  float: left;
}

.field.full {
  width: 100%;
}

.field.full input {
  width: 90%;
  padding-right: 0.5em;
  line-height: 1.5;
}

.newframe, .frame {
  float: left;
}

.newframe {
  position: relative;
  background-color: #eee;
  display: block;
  width: 20em;
  height: 20em;
  border: 1px solid #000;
  cursor: pointer;
  margin: 0.5em
}
.newframe:before {
  content: '';
  display: block;
  position: absolute;
  width: 15em;
  height: 15em;
  border-radius: 15em;
  left: 50%;
  top: 50%;
  margin-left: -7.5em;
  margin-top: -7.5em;
  background-color: white;
  border: 1px solid #999;
}

.newframe:after {
  content: '+';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  color: #999;
  font-size: 200px;
  font-weight: bold;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
  margin-left: -0.5em;
  margin-top: -0.5em;
}

.newframe:hover:before { background-color: black; }
.newframe:hover:after { color: white; }

.strip section {
  position: relative;
  background-color: black;
  display: block;
  width: 20em;
  height: 20em;
  border: 1px solid #000;

}

.strip form {
  position: relative;
  text-align: left;
  display: block;
  border: 1px solid #000;
  margin: 5px 0 0 0;
  background-color: #eee;
  overflow: hidden;
  width: 20em;
}

.strip form p, .strip form button {
    margin-left: 4px;
}

.delete:before { content: '×'; }

.delete {
  display: block;
  border: 1px solid #000;
  position: absolute;
  right: -.5em;
  top: -.5em;
  width: 1em;
  height: 1em;
  text-align: center;
  line-height: 1em;
  background: #fff;
  padding: .25em;
  box-shadow: .1em .1em .1em rgba(0, 0, 0, .5);
  border-radius: 1em;
  font-weight: 600;
  z-index: 10;
  cursor: pointer;
}
.delete:hover { background-color: red; color: white; }

.strip section header {
  display: none;
  border: 1px solid #000;
  position: absolute;
  left: -.3em;
  top: -.3em;
  max-width: 20em;
  background: #fff;
  padding: .25em .5em;
  box-shadow: .1em .1em .1em rgba(0, 0, 0, .5);
  font-style: italic;
  font-weight: 600;
  z-index: 10
}

.strip section img {
  display: none;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  margin: auto;
  z-index: 2;
}

.left-python-yellow:before,
.right-python-yellow:after {
  background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2273%22%20height%3D%22126%22%20viewBox%3D%220%200%2073%20126%22%20version%3D%221.1%22%3E%3Ctitle%3EPython%3C/title%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate%280.000000%2C%201.000000%29%22%20stroke%3D%22%23000000%22%3E%3Cpath%20id%3D%22snake%22%20d%3D%22M0.6%20123.7L4.3%2014.9C4.3%2014.9%204.3%200.3%2024.8%200.3%2045.3%200.3%2055.7%200.3%2055.7%200.3%2055.7%200.3%2072.2%200.3%2072.2%2014.9%2072.2%2029.6%2072.2%2032.6%2072.2%2032.6L24.8%2032.6%2030.1%20123.7%200.6%20123.7Z%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20fill%3D%22%23FFD631%22/%3E%3Ccircle%20id%3D%22eye%22%20fill%3D%22%23FFFFFF%22%20cx%3D%2255.5%22%20cy%3D%2215.5%22%20r%3D%227.5%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E')bottom left no-repeat;
  background-size: 100%
}

.left-python-blue:before,
.right-python-blue:after {
  background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2273%22%20height%3D%22126%22%20viewBox%3D%220%200%2073%20126%22%20version%3D%221.1%22%3E%3Ctitle%3EPython%3C/title%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate%280.000000%2C%201.000000%29%22%20stroke%3D%22%23000000%22%3E%3Cpath%20id%3D%22snake%22%20d%3D%22M0.6%20123.7L4.3%2014.9C4.3%2014.9%204.3%200.3%2024.8%200.3%2045.3%200.3%2055.7%200.3%2055.7%200.3%2055.7%200.3%2072.2%200.3%2072.2%2014.9%2072.2%2029.6%2072.2%2032.6%2072.2%2032.6L24.8%2032.6%2030.1%20123.7%200.6%20123.7Z%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20fill%3D%22%23336D9F%22/%3E%3Ccircle%20id%3D%22eye%22%20fill%3D%22%23FFFFFF%22%20cx%3D%2255.5%22%20cy%3D%2215.5%22%20r%3D%227.5%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E')bottom left no-repeat;
  background-size: 100%
}

.left-python-blue:before,
.left-python-yellow:before {
  position: absolute;
  content: '';
  display: block;
  width: 33%;
  height: 0;
  padding-bottom: 57%;
  left: .5em;
  background-size: 100%;
  bottom: -.1em;
  z-index: 3
}

.left-python-blue:before #snake,
.left-python-yellow:before #snake {
  background: red!important
}

.right-python-blue:after,
.right-python-yellow:after {
  position: absolute;
  content: '';
  display: block;
  width: 33%;
  height: 0;
  padding-bottom: 57%;
  bottom: -.1em;
  background-size: 100%;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  right: .5em;
  z-index: 3
}

.right-python-blue:after #snake,
.right-python-yellow:after #snake {
  background: red!important
}

.bubble-bottom,
.bubble-top {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 1em;
  margin: 0;
  padding: .25em 1em;
  left: .3em;
  max-width: 17.2em;
  min-width: 5em;
  z-index: 5;
  border: 1px solid #000;
  box-shadow: .1em .1em .1em rgba(0, 0, 0, .2);
  font-family: 'Source Sans Pro', 'Liberation sans', Arial, sans-serif
}

.bubble-bottom p,
.bubble-top p {
  margin: 0
}

.bubble-bottom p+p,
.bubble-top p+p {
  margin-top: .25em
}

.bubble-bottom:after,
.bubble-bottom:before,
.bubble-top:after,
.bubble-top:before {
  display: block;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -1em;
  left: 4.5em;
  border-style: solid;
  border-width: 1em .5em 0 .5em;
  border-color: #fff transparent transparent transparent;
  z-index: 7
}

.bubble-bottom:after,
.bubble-top:after {
  z-index: 6;
  bottom: -1.1em;
  margin-left: -.05em;
  border-width: 1.1em .6em 0 .6em;
  border-color: #000 transparent transparent transparent
}

.bubble-bottom.right:after,
.bubble-bottom.right:before,
.bubble-top.right:after,
.bubble-top.right:before {
  left: auto;
  right: 4.5em
}

.bubble-bottom.right,
.bubble-top.right {
  left: auto;
  right: 0.3em;
}

.bubble-bottom.right:after,
.bubble-top.right:after {
  margin-right: -.05em;
  margin-left: auto
}

.bubble-top {
  bottom: 12.75em
}

.bubble-bottom {
  bottom: auto;
  top: 13.75em
}

.bubble-bottom:after,
.bubble-bottom:before {
  bottom: auto;
  top: -1em;
  border-width: 0 .5em 1em .5em;
  border-color: transparent transparent #fff transparent
}

.bubble-bottom:after {
  top: -1.1em;
  border-width: 0 .6em 1.1em .6em;
  border-color: transparent transparent #000 transparent
}

.smallprint {
  font-size: 60%;
  color: #666;
  float: right;
  margin-top: -2em;
  margin-right: 2em
}

.smallprint a { color: black; }

#editor-help {
    margin-top: 8px;
    float: right;
}

a, a:visited {
    color: #0000FF;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

#direct-link {
    margin: 4px 16px;
}

.mb-link {
    padding-left: 4px;
    font-size: 12px;
    display: none;
}
